{% extends "layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
{% if session.username %}
<ul class="nav">
    <li><a href="/profile">Main</a></li>
    <li class="active"><a href="/dashboard">Dashboard</a></li>
    <li><a href="/search">Reports</a></li>
    <li><a href="/new-expense">Insert new expense</a></li>
    <li><a href="/new-income">Insert new income</a></li>
</ul>
{% autoescape off %}
<div>
    <div style="display: inline-block">{{ bar_one }}</div>
    <div style="display: inline-block">{{ bar_three }}</div>
    <div style="display: inline-block">{{ pie }}</div>
    <div style="display: inline-block">{{ bar_two }}</div>
</div>
{% endautoescape %}
{% else %}
<div class="p1">
    <p>You need to be logged in to see your profile</p>
</div>
<a href="/">Return to mainpage to login</a>
{% endif %}
{% endblock %}