{% extends "layout.html" %}
{% block title %}
Income Form
{% endblock %}
{% block content %}
{% if session.username %}
<ul class="nav">
    <li><a href="/profile">Main</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/search">Reports</a></li>
    <li><a href="/new-expense">Insert new expense</a></li>
    <li  class="active"><a href="/new-income">Insert new income</a></li>
    <li><a href="/delete">Delete transactions</a></li>
</ul>
<form action="/send-income" method="POST">
    <p><b>Amount:</b></p>
    <input type="number" name="amount" id="amount" step="0.01" value="0.00" placeholder="0.00" required> <br>
    <p><b>Date:</b></p>
    <input type="date" id="income_date" name="income_date"
           min="2018-01-01" max="2022-12-31" required>
    <p><b>Category:</b></p>
        <select name="category" id="category">
            <option>Investment</option>
            <option>Gift</option>
            <option>Other</option>
            <option>Salary</option>
        </select>
        <p><b>Note:</b></p>
    <textarea name="note" rows="1" cols="50"></textarea>
    <br><br>
    <input type="submit" value="Save income">
</form>
{% else %}
<div class="p1">
    <p>You need to be logged in to see your profile</p>
</div>
<a href="/">Return to mainpage to login</a>
{% endif %}
{% endblock %}

