{% extends "layout.html" %}
{% block title %}
Search
{% endblock %}
{% block content %}
{% if session.username %}
<ul class="nav">
    <li><a href="/profile">Main</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li class="active"><a href="/search">Reports</a></li>
    <li><a href="/new-expense">Insert new expense</a></li>
    <li><a href="/new-income">Insert new income</a></li>
</ul>
<form action="/search" method="POST">
    <p><b>Report type:</b></p>
    <select name="report" id="report">
        <option>Expense list</option>
        <option>Income list</option>
        <option>Period balance calculation</option>
    </select>
    <p><b>Start date:</b></p>
    <input type="date" id="start_date" name="start_date"
    min="2018-01-01" max="2022-12-31" required><br>
    <p><b>End date:</b></p>
    <input type="date" id="end_date" name="end_date"
    min="2018-01-01" max="2022-12-31" required><br>
    <p><b>Category contains:</b></p>  
    <input type="text" name="category"><br>
    <p><b>Note contains:</b></p>  
    <input type="text" name="note_text"><br><br>
    <input type="submit" value="Search"><br>
</form>
<br>
<div class="p1">
    <p>{{ total }}</p>
</div>
<div class="p1">
    <p>{{ table|safe }}</p>
</div>
{% else %}
<div class="p1">
    <p>You need to be logged in to see your profile</p>
</div>
<a href="/">Return to mainpage to login</a>
{% endif %}
{% endblock %}